body {
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/170121211838-28-womens-march-dc-super-169.jpg");
    background-attachment: fixed;
    background-size: cover;

    }
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f44242;
    position: fixed;
    float: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;

}
li.navitem {
    float: left;
    border: 5px black;

}
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

li.navitem a:hover {
    background-color: b20000;
}
li.navitem a:hover:not(.active) {
    background-color: #a000b2;
}
h1 {
    background-color: #a000b2;
    border-top: 10px double #6700b2;
    border-bottom: 10px double #6700b2;
    border-right: 10px double #6b0000;
    border-left: 10px double #6b0000;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

button.accordion {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: dotted 10px red;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: mediumvioletred;
    text-align: center;
    position: relative;
    top: 60px;
    padding: 10px;
    border: dotted 10px red;
}


button.accordion.active, button.accordion:hover {
    background-color: #f44242; 
}

div.panel {
    padding: 0 18px;
    background-color: mediumvioletred;
    text-align: center;
    position: relative;
    top: 60px;
    padding: 10px;
    border: dotted 10px red;
    display: none;
}

.projectone {
    float: left;
    width: 45%;
    height: 485px;
    position: relative;
    top: 65px;
    border: double 5px;

}

.infoone {
    float: right;
    width: 45%;
    position: relative;
    top: 65px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;

}

.projecttwo {
    float: right;
    width: 45%;
    height: 485px;
    position: relative;
    top: 90px;
    border: double 5px;

}

.infotwo {
    float: left;
    width: 45%;
    position: relative;
    top: 90px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;
}

.projectthree {
    float: left;
    height: 600px;
    width: 600px;
    position: relative;
    top: 115px;
    border: double 5px;
    align-content: center;
    background-color: white;

}

.infothree {
    float: right;
    position: relative;
    top: 115px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;
}

.projectfour {
    float: right;
    width: 45%;
    height: 485px;
    position: relative;
    top: 145px;
    border: double 5px;

}

.infofour {
    float: left;
    width: 45%;
    position: relative;
    top: 145px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;
}

.projectfive {
    float: left;
    width: 45%;
    height: 485px;
    position: relative;
    top: 160px;
    border: double 5px;
    align-content: center;
    background-color: white;

}

.infofive {
    float: right;
    width: 45%;
    position: relative;
    top: 160px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;
}

.projectsix {
    float: right;
    width: 45%;
    height: 485px;
    position: relative;
    top: 185px;
    border: double 5px;

}

.infosix {
    float: left;
    width: 45%;
    position: relative;
    top: 185px;
    padding: 5px;
    background-color: mediumvioletred;
    width: 45%;
    height: 485px;
    font-size: 25px;
}
